<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526086000910-fab8lu2u4nv3236js4hlqvog8q9fukim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526086000910-fab8lu2u4nv3236js4hlqvog8q9fukim</string>
	<key>API_KEY</key>
	<string>AIzaSyBkdy7yYwkaKAuAzxyD-3siCnig2nYAp7o</string>
	<key>GCM_SENDER_ID</key>
	<string>526086000910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuaone.yua</string>
	<key>PROJECT_ID</key>
	<string>yua-ai-console</string>
	<key>STORAGE_BUCKET</key>
	<string>yua-ai-console.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526086000910:ios:8b6e7ce22b0bdb9f1d075f</string>
</dict>
</plist>